
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* styles shared */
.text-p{
    color: saddlebrown;
}
.dark-2{
    color: #474747;
}

.btn-p{
   background-color: saddlebrown ; 
   font-weight: bold;
   color: white;
   font-size: 20px;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;
}
.section-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    
}
.section-descroption{
    font-size: 18px;
    color: #474747;
}
.secondry-bg{
    background-color: #FFF8F3;
}


/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
.nav-tt{
    font-weight: 700;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    
    
    
}
/* banner style */
.banner-gree{
   font-size: 45px;
   font-weight: 600px;
}
.banner-titel{
    font-size: 85px;
    font-weight: bold;

}
.banner-dis{
    font-size: 18px;
    font-weight: 400px;
}
.banner-profile{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-con{
    max-width: 580px;
}


.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right; 
    
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 100px;
    text-align: center;
}



.item-description{
    font-weight: 600;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}